<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="GalbotZeroCameraD415" params="prefix parent_link">
    <link name="${prefix}camera_stand">
      <visual>
        <geometry>
          <mesh filename="file://$(find galbot_zero_description)/meshes/flange/galbot_f.glb"/>
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}camera_stand_joint" type="fixed">
      <parent link="${parent_link}"/>
      <child link="${prefix}camera_stand"/>
    </joint>

    <link name="${prefix}camera">
      <visual>
        <geometry>
          <mesh filename="file://$(find sensor_models)/meshes/realsense/d415.glb"/>
        </geometry>
      </visual>
    </link>

    <joint name="${prefix}camera_joint" type="fixed">
      <origin xyz="0.105201 0 0.023457" rpy="0 0 ${PI/2}"/>
      <parent link="${prefix}camera_stand"/>
      <child link="${prefix}camera"/>
    </joint>
  </xacro:macro>
</robot>
