<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<!-- 手臂关节接口宏定义 -->
	<xacro:macro name="arm_interfaces" params="name gripper_initial_value:=1.57">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<!-- 手臂关节接口定义 -->
		<joint name="${prefix}joint1">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">2.5</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}joint2">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">-1.570</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}joint3">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">-0.5</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}joint4">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">2.5</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}joint5">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}joint6">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">-0.8</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}joint7">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">0</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

		<joint name="${prefix}gripper_joint">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">${gripper_initial_value}</param>
			</state_interface>
			<state_interface name="velocity"/>
			<state_interface name="effort"/>
		</joint>

	</xacro:macro>

</robot>
