<?xml version="1.0" ?>
<robot name="Galbot_One_Arms" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.141592653589793"/>
  <xacro:arg name="type" default="base"/>
  <xacro:arg name="enable_wheel_joints" default="true"/>
  <xacro:arg name="collider" default="simple"/>
  <xacro:arg name="arm_camera" default="d415"/>

  <xacro:if value="${'$(arg type)' == 'base'}">
    <xacro:include filename="$(find galbot_one_description)/xacro/components/chassis.xacro"/>
    <xacro:include filename="$(find galbot_one_description)/xacro/components/body.xacro"/>
    <xacro:GalbotOneChassis enable_wheel_joints="true"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'wheel'}">
    <!-- Include Wheel -->
    <xacro:include filename="$(find component_models)/xacro/angellun_200.xacro"/>
    <xacro:wheel wheel_name="wheel" enable_passive_wheels="true"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'chassis'}">
    <xacro:include filename="$(find galbot_one_description)/xacro/components/chassis.xacro"/>
    <xacro:GalbotOneChassis enable_wheel_joints="true"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'body'}">
    <link name="base_link"/>
    <joint name="base_joint" type="fixed">
      <parent link="base_link"/>
      <child link="omni_chassis_leg_mount_link"/>
    </joint>
    <link name="omni_chassis_leg_mount_link"/>
    <xacro:include filename="$(find galbot_one_description)/xacro/components/body.xacro"/>
  </xacro:if>

  <xacro:if value="${'$(arg type)' == 'arm'}">
    <!-- Use a single base_link as root to avoid multiple roots for robot_state_publisher -->
    <link name="base_link"/>
    <joint name="arm_base_joint" type="fixed">
      <origin rpy="${PI/2} 0 0"/>
      <parent link="base_link"/>
      <child link="arm_base"/>
    </joint>
    <link name="arm_base"/>

    <joint name="left_arm_mount_joint" type="fixed">
      <origin rpy="0 ${PI} 0" xyz="0 0 -0.13"/>
      <parent link="arm_base"/>
      <child link="left_base_link"/>
    </joint>

    <joint name="right_arm_mount_joint" type="fixed">
      <origin  xyz="0 0 0.13"/>
      <parent link="arm_base"/>
      <child link="right_base_link"/>
    </joint>

    <xacro:include filename="$(find galbot_one_description)/xacro/components/arm.xacro"/>

    <xacro:Arm name="left" direction="1" camera="$(arg arm_camera)"/>
    <xacro:Arm name="right" direction="-1" camera="$(arg arm_camera)"/>
  </xacro:if>
</robot>
