<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:property name="PI" value="3.141592653589793"/>

	<!-- One arm flange + wrist camera assembly -->
	<xacro:macro name="GalbotOneArmCamera" params="name direction:=1 parent camera:=d415 collider_type:=simple">
		<xacro:property name="prefix" value="${name}_"/>

		<link name="${prefix}end_effector_mount_link"/>
		<joint name="${prefix}end_effector_mount_joint" type="fixed">
			<origin xyz="0 0 0.0845"/>
			<parent link="${parent}"/>
			<child link="${prefix}end_effector_mount_link"/>
		</joint>

		<joint name="${prefix}flange_joint" type="fixed">
			<origin rpy="0 0 ${(1 + direction) * PI/2}"/>
			<parent link="${prefix}end_effector_mount_link"/>
			<child link="${prefix}flange_base_link"/>
		</joint>

		<link name="${prefix}flange_base_link">
			<inertial>
				<origin xyz="0.052829 -0.00096484 0.013285"/>
				<mass value="0.25733"/>
				<inertia ixx="0.0002175" ixy="-2.5433E-06" ixz="4.0586E-06" iyy="5.3894E-05" iyz="-1.8533E-06"
								 izz="0.00025319"/>
			</inertial>
			<visual>
				<geometry>
					<mesh filename="file://$(find galbot_one_description)/meshes/flange/flange.glb"/>
				</geometry>
			</visual>
			<xacro:if value="${collider_type == 'convex'}">
				<collision>
					<geometry>
						<mesh filename="file://$(find galbot_one_description)/meshes/flange/flange.glb"/>
					</geometry>
				</collision>
			</xacro:if>
		</link>

		<link name="${prefix}flange_mount_link"/>
		<joint name="${prefix}flange_mount_joint" type="fixed">
			<origin xyz="0 0 0.006"/>
			<parent link="${prefix}flange_base_link"/>
			<child link="${prefix}flange_mount_link"/>
		</joint>

		<xacro:if value="${camera == 'd415'}">
			<joint name="${prefix}camera_flange_joint" type="fixed">
				<origin rpy="${PI} -1.308996939 0" xyz="0.0526 -0.02 0.017482"/>
				<parent link="${prefix}flange_base_link"/>
				<child link="${prefix}camera_flange_link"/>
			</joint>

			<link name="${prefix}camera_flange_link">
				<inertial>
					<origin xyz="0.052829 -0.00096484 0.02054"/>##3-2
					<mass value="0.25733"/>
					<inertia ixx="0.0002175" ixy="-2.5433E-06" ixz="4.0586E-06" iyy="5.3894E-05" iyz="-1.8533E-06"
									 izz="0.00025319"/>
				</inertial>
				<visual>
					<geometry>
						<mesh filename="file://$(find galbot_one_description)/meshes/flange/camera_support.glb"/>
					</geometry>
				</visual>
				<xacro:if value="${collider_type == 'convex'}">
					<collision>
						<geometry>
							<mesh filename="file://$(find galbot_one_description)/meshes/flange/camera_support.glb"/>
						</geometry>
					</collision>
				</xacro:if>
			</link>

			<link name="${prefix}camera_link">
				<visual>
					<geometry>
						<mesh filename="file://$(find sensor_models)/meshes/realsense/d415.glb"/>
					</geometry>
				</visual>
			</link>

			<joint name="${prefix}camera_joint" type="fixed">
				<origin rpy="-${PI/2} 0 -${PI/2}" xyz="0.0095 -0.02 0"/>
				<parent link="${prefix}camera_flange_link"/>
				<child link="${prefix}camera_link"/>
			</joint>
		</xacro:if>
	</xacro:macro>
</robot>
