<?xml version="1.0" ?>
<robot name="Hitbot Gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:property name="PI" value="3.141592653589793"/>
  <xacro:arg name="type" default="body"/>
  <xacro:arg name="enable_wheel_joints" default="true"/>
  <xacro:arg name="collider" default="simple"/>


  <xacro:if value="${'$(arg type)' == 'body'}">
    <link name="base_link"/>
    <joint name="base_joint" type="fixed">
      <parent link="base_link"/>
      <child link="omni_chassis_leg_mount_link"/>
    </joint>
    <link name="omni_chassis_leg_mount_link"/>
    <xacro:include filename="$(find galbot_golf_description)/xacro/components/body.xacro"/>
  </xacro:if>
</robot>
