<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:macro name="galbot_one_arm_interfaces" params="name gripper_initial_value:=1.57">
		<xacro:property name="prefix" value="${name + '_' if name else ''}"/>

		<joint name="${prefix}joint1">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}joint2">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}joint3">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}joint4">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}joint5">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}joint6">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}joint7">
			<command_interface name="position"/>
			<state_interface name="position"/>
			<state_interface name="velocity"/>
		</joint>
		<joint name="${prefix}gripper_joint">
			<command_interface name="position"/>
			<state_interface name="position">
				<param name="initial_value">${gripper_initial_value}</param>
			</state_interface>
			<state_interface name="velocity">
				<param name="initial_value">0.0</param>
			</state_interface>
			<state_interface name="effort"/>
		</joint>
	</xacro:macro>

</robot>

