<?xml version="1.0"?>

<robot name="Foxtrot Gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:arg name="type" default="galbot_gripper"/>
  <xacro:arg name="enable_suction_rotation" default="false"/>
  <xacro:property name="type_arg" value="$(arg type)"/>
  <xacro:property name="selected_gripper_type" value="galbot_gripper"/>
  <xacro:if value="${type_arg == 'hitbot'}">
    <xacro:property name="selected_gripper_type" value="hitbot"/>
  </xacro:if>
  <xacro:if value="${type_arg == 'galbot_gripper'}">
    <xacro:property name="selected_gripper_type" value="galbot_gripper"/>
  </xacro:if>
  <xacro:if value="${type_arg == 'suction_cup'}">
    <xacro:property name="selected_gripper_type" value="suction_cup"/>
  </xacro:if>

  <xacro:if value="${selected_gripper_type == 'galbot_gripper'}">
    <xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/galbot_gripper.xacro"/>
    <xacro:Gripper name=""/>
  </xacro:if>

  <xacro:if value="${selected_gripper_type == 'hitbot'}">
    <xacro:include filename="$(find hitbot_description)/xacro/Z-EFG-100.xacro"/>
    <xacro:Gripper name=""/>
  </xacro:if>

  <xacro:if value="${selected_gripper_type == 'suction_cup'}">
    <link name="base_link"/>
    <xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/suction_cup.xacro"/>
    <xacro:galbot_suction_cup name="suction_cup" parent="base_link"
                              enable_rotation="$(arg enable_suction_rotation)">
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </xacro:galbot_suction_cup>
  </xacro:if>
</robot>
