<?xml version="1.0" ?>
<robot name="galbot_one_foxtrot" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:arg name="enable_wheel_joints" default="false"/>
	<xacro:arg name="arm_camera" default="d415"/>
	<xacro:arg name="type" default="galbot_gripper"/>
	<xacro:property name="type_arg" value="$(arg type)"/>
	<xacro:property name="selected_gripper_type" value="galbot_gripper"/>
	<xacro:if value="${type_arg == 'hitbot'}">
		<xacro:property name="selected_gripper_type" value="hitbot"/>
	</xacro:if>
	<xacro:if value="${type_arg == 'galbot_gripper'}">
		<xacro:property name="selected_gripper_type" value="galbot_gripper"/>
	</xacro:if>
	<xacro:property name="PI" value="3.141592653589793"/>

	<xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/body.xacro"/>
	<xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/head.xacro"/>
	<xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/arm.xacro"/>

	<xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/chassis.xacro"/>
	<xacro:GalbotChassisV2 enable_wheel_joints="$(arg enable_wheel_joints)"/>
	<xacro:galbot_foxtrot_head parent_link="torso_base_link"/>

	


	<joint name="torso_left_mount_joint" type="fixed">
		<origin rpy="0 1.5707963267948966 0" xyz="0.20843 0.172 0"/>
		<parent link="torso_base_link"/>
		<child link="left_base_link"/>
		<axis/>
	</joint>

	<joint name="torso_right_mount_joint" type="fixed">
		<origin rpy="3.141592653589793 1.5707963267948966 0" xyz="-0.20843 0.172 0"/>
		<parent link="torso_base_link"/>
		<child link="right_base_link"/>
		<axis/>
	</joint>

	<xacro:Arm name="right" direction="-1" camera="$(arg arm_camera)"/>

	<xacro:if value="${selected_gripper_type == 'galbot_gripper'}">
		<xacro:include filename="$(find galbot_foxtrot_description)/xacro/components/galbot_gripper.xacro"/>
		<joint name="right_end_effector_mount_joint" type="fixed">
			<origin rpy="1.5708 0 3.14" xyz="-0.10926 0 0"/>
			<parent link="right_link7"/>
			<child link="right_gripper_flange"/>
			<axis/>
		</joint>
		<xacro:Gripper name="right"/>
	</xacro:if>
	<xacro:if value="${selected_gripper_type == 'hitbot'}">
		<xacro:include filename="$(find galbot_one_description)/xacro/components/galbot_hitbot_gripper.xacro"/>
		<xacro:hitbot_gripper name="right_gripper" parent="right_link7">
			<origin rpy="0 0 3.14159265358948" xyz="-0.10926 0 0"/>
		</xacro:hitbot_gripper>
	</xacro:if>
	
	<xacro:Arm name="left" camera="$(arg arm_camera)"/>

	<xacro:if value="${selected_gripper_type == 'galbot_gripper'}">
		<joint name="left_end_effector_mount_joint" type="fixed">
			<origin rpy="1.5708 0 3.14159265358979" xyz="-0.10926 0 0"/>
			<parent link="left_link7"/>
			<child link="left_gripper_flange"/>
		</joint>
		<xacro:Gripper name="left"/>
	</xacro:if>
	<xacro:if value="${selected_gripper_type == 'hitbot'}">
		<xacro:hitbot_gripper name="left_gripper" parent="left_link7">
			<origin rpy="0 0 3.14159265358979" xyz="-0.10926 0 0"/>
		</xacro:hitbot_gripper>
	</xacro:if>
</robot>
